<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- settings.blog_title %>: <%- title %></title>
    <link rel="stylesheet" href="/dist.css" />

    <!-- Alpine Plugins -->
    <script defer src="https://unpkg.com/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
    <!-- Application JS -->
    <script defer src="/app.js"></script>
    <!-- Alpine Core -->
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body x-data :class="$store.darkMode.on && 'dark bg-slate-700'">
    <div class="container mx-auto flex min-h-screen flex-col dark:fill-white dark:text-white">
      <!-- Header -->
      <header class="flex flex-none py-4">
        <!-- Link to the home page and blog subtitle -->
        <a class="gradient-link flex-none text-2xl uppercase" href="/"><%- settings.blog_subtitle %></a>
        <!-- Author name -->
        <span class="flex-none pl-1 text-sm text-slate-500 dark:text-slate-300"
          >by <%- settings.blog_author %></span
        >
        <!-- Some navigation -->
        <nav class="flex grow items-center justify-end">
          <a class="gradient-link inline-block px-2 align-middle" href="/admin">Admin</a>
          <a class="gradient-link inline-block px-2 align-middle" href="/admin/settings">Settings</a>
        </nav>
        <!-- Change theme button -->
        <button x-data @click="$store.darkMode.toggle()" class="flex-none">
          <!-- prettier-ignore -->
          <%- include('../partials/icons/moon', { attributes: 'x-clock x-show="!$store.darkMode.on"' }); %>
          <!-- prettier-ignore -->
          <%- include('../partials/icons/sun', { attributes: 'x-clock x-show="$store.darkMode.on"' }); %>
        </button>
      </header>
      <!-- Part with page content -->
      <main class="grow"><%- body %></main>
      <!-- Footer -->
      <footer class="flex-none py-4 text-right">by <%- settings.blog_author %></footer>
      <!-- Notifications -->
      <div class="fixed top-4 right-4">
        <template x-for="notification in Array.from($store.notifications.data)">
          <div
            x-bind:class="notification.type === 'error'
              ? 'bg-red-300 dark:bg-red-500'
              : notification.type === 'info'
                ? 'bg-blue-300 dark:bg-blue-500'
                : notification.type === 'success'
                  ? 'bg-green-300 dark:bg-green-500'
                  : ''
            "
            class="mb-2 flex rounded-lg px-4 py-2"
          >
            <span class="grow text-lg" x-text="notification.text"></span>
            <button>
              <!-- prettier-ignore -->
              <%- include('../partials/icons/close', { className: 'hover:pointer h-5 w-5', attributes: '@click="$store.notifications.remove(notification)"' }); %>
            </button>
          </div>
        </template>
      </div>
    </div>
  </body>
</html>
