<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- settings.blog_title %>: <%- title %></title>
    <link rel="stylesheet" href="/dist.css" />

    <!-- EVA Icons -->
    <script src="https://unpkg.com/eva-icons"></script>

    <!-- Alpine Plugins -->
    <script defer src="https://unpkg.com/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
    <!-- Application JS -->
    <script defer src="/app.js"></script>
    <!-- Alpine Core -->
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body x-data :class="$store.darkMode.on && 'dark bg-slate-700'">
    <div class="container mx-auto flex min-h-screen flex-col dark:fill-white dark:text-white">
      <header class="flex flex-none py-4">
        <a class="gradient-link flex-none text-2xl uppercase" href="/"><%- settings.blog_subtitle %></a>
        <span class="flex-none pl-1 text-sm text-slate-500 dark:text-slate-300"
          >by <%- settings.blog_author %></span
        >
        <nav class="flex grow items-center justify-end">
          <a class="gradient-link inline-block px-2 align-middle" href="/admin">Admin</a>
          <a class="gradient-link inline-block px-2 align-middle" href="/admin/settings">Settings</a>
        </nav>
        <button x-data @click="$store.darkMode.toggle()" class="flex-none">
          <i x-show="!$store.darkMode.on" data-eva="moon-outline"></i>
          <i x-show="$store.darkMode.on" data-eva="sun-outline"></i>
        </button>
      </header>
      <main class="grow"><%- body %></main>
      <footer class="flex-none py-4 text-right">by <%- settings.blog_author %></footer>
      <div class="fixed top-4 right-4">
        <template x-for="notification in Array.from($store.notifications.data)">
          <div
            x-bind:class="notification.type === 'error'
              ? 'bg-red-300 dark:bg-red-500'
              : notification.type === 'info'
                ? 'bg-blue-300 dark:bg-blue-500'
                : notification.type === 'success'
                  ? 'bg-green-300 dark:bg-green-500'
                  : ''
            "
            class="mb-2 flex rounded-lg px-4 py-2"
          >
            <span class="grow text-lg" x-text="notification.text"></span>
            <button>
              <svg
                class="hover:pointer h-5 w-5"
                @click="$store.notifications.remove(notification)"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
              >
                <g data-name="Layer 2">
                  <g data-name="close">
                    <rect width="24" height="24" transform="rotate(180 12 12)" opacity="0" />
                    <path
                      d="M13.41 12l4.3-4.29a1 1 0 1 0-1.42-1.42L12 10.59l-4.29-4.3a1 1 0 0 0-1.42 1.42l4.3 4.29-4.3 4.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l4.29-4.3 4.29 4.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"
                    />
                  </g>
                </g>
              </svg>
            </button>
          </div>
        </template>
      </div>
    </div>
  </body>
</html>
