<!-- Article -->
<div class="my-6">
  <h1 class="text-center text-2xl"><%- article.article_title %></h1>
  <h2 class="text-center text-lg"><%- article.article_subtitle %></h2>
  <div class="flex py-2">
    <div class="flex-none text-sm text-slate-500 dark:text-slate-300">
      Published: <span><%- (new Date(article.article_published_at)).toLocaleString() %></span>
    </div>
    <span class="grow"></span>
    <div class="flex-none text-xs">
      <% for (const tag of article.tags) { %>
      <span class="mx-0.5 rounded-md bg-slate-300 py-0.5 px-1 dark:bg-slate-500"><%- tag %></span>
      <% } %>
    </div>
  </div>
  <div class="prose max-w-none text-justify dark:prose-invert"><%- article.article_text %></div>
</div>

<!-- Comments section -->
<div x-data="commentsSection(<%- article.article_id %>)" x-init="init()">
  <!-- Add new comment area -->
  <div class="mb-2 border-t border-gray-500 p-2 dark:border-gray-300">
    <label class="block py-2 text-center text-lg" :for="$id('comment')">Write comment</label>
    <textarea
      :id="$id('comment')"
      :disabled="submitting"
      @input="errorMessage = undefined"
      class="styled-input w-full"
      x-bind:class="errorMessage ? 'text-red-500 dark:text-red-300 border-red-500 dark:border-red-300' : ''"
      name="comment"
      rows="5"
      x-model="newCommentText"
    ></textarea>
    <p x-text="errorMessage" class="mb-2 text-red-500 dark:text-red-300"></p>
    <button
      @click="postComment"
      class="w-full rounded-lg bg-purple-300 py-2 hover:bg-purple-500 hover:fill-white dark:bg-purple-500 dark:hover:bg-purple-300 dark:hover:fill-black"
    >
      <span x-show="!submitting">Post</span>
      <!-- prettier-ignore -->
      <%- include('./partials/icons/loader', { className: 'h-5 w-5 mx-auto animate-spin', attributes: 'x-clock x-show="submitting"' }); %>
    </button>
  </div>
  <!-- Comments list -->
  <template x-for="comment in comments" :key="comment.comment_id">
    <div class="mb-2 rounded-lg border border-gray-500 p-2 dark:border-gray-300">
      <p
        class="text-right text-sm text-slate-500 dark:text-slate-300"
        x-text="'Created: '+(new Date(comment.comment_creation_date)).toLocaleString()"
      ></p>
      <p class="prose dark:prose-invert" x-html="comment.comment_text.replace(/\\n/g, '<br>')"></p>
    </div>
  </template>
  <div x-show="isLoading" class="flex h-64 w-full items-center justify-center">
    <!-- prettier-ignore -->
    <%- include('./partials/loading'); %>
  </div>
</div>
